# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea/
.vscode/

# Systèmes d'exploitation
.DS_Store
Thumbs.db

# Fichiers de logs
*.log
*.logs

# Base de données SQLite
*.sqlite3
*.db

# Tests
htmlcov/
.coverage
.tox/
.pytest_cache/

# Autres
*.bak
*.swp


# Docker
.docker

